* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}

#header h3 a, #header li a {
	color: black;
}

#header ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#header #nav ul li {
	display: inline-block;
}

#header h3 {
	margin: 0;
	text-align: center;
}

#header #nav {
	text-align: center;
}

#header #social-buttons {
	text-align: center;
}

@keyframes headerIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentIn {
	from {
		height: auto;
		overflow: auto;
		opacity: 0;
	}
	to {
		height: auto;
		overflow: auto;
		opacity: 1;
	}
}

.github-button { 
	color: #000000;
}

.facebook-button {
	color: #3b5998;
}

.twitter-button {
	color: #00aced;
}

#content {
	background-color: #cbd0d3;
	box-shadow: 3px 3px 20px 5px rgba(162,171,176,1);
}

.animate-logo {
	opacity: 0;
	animation: logoIn 2800ms forwards ease-in-out;
}

.animate-header {
	opacity: 0;
	animation: headerIn 1500ms forwards linear 2800ms;
}

.animate-content {
	opacity: 0;
	height: 0;
	overflow: hidden;
	animation: contentIn 1500ms forwards linear 2800ms;
}

@media print, speech {
	.animate-logo {
		animation: logoIn 0s forwards;
	}

	.animate-header {
		animation: headerIn 0s forwards;
		animation-delay: 0s;
	}

	.animate-content {
		animation: contentIn 0s forwards;
		animation-delay: 0s;
	}

	@keyframes logoIn {
		0% {
			height: 26vw;
			width: 26vw;
			opacity: 0;
			transform: translate(37vw, calc(50vh - 13vw));
		}
		50% {
			height: 30vw;
			width: 30vw;
			opacity: 1;
			transform: translate(35vw, calc(50vh - 15vw));
		}
		100% {
			height: 30vw;
			width: 30vw;
			opacity: 1;
			transform: translate(35vw, 2vw);
			margin-bottom: 2vw;
		}
	}

	#header {
		height: 110px;
	}

	#header #nav {
		padding-top: 6px;
	}

	#header #nav ul li {
		padding: 0 20px;
	}

	#header #social-buttons {
		padding-top: 6px;
	}

	#content {
		padding: 0 10px;
		min-height: calc(100vh - (34vw + 110px) );
	}
}

/* smaller screen */
@media only screen and (max-width: 768px) {

	@keyframes logoIn {
		0% {
			height: 26vw;
			width: 26vw;
			opacity: 0;
			transform: translate(37vw, calc(50vh - 13vw));
		}
		50% {
			height: 30vw;
			width: 30vw;
			opacity: 1;
			transform: translate(35vw, calc(50vh - 15vw));
		}
		100% {
			height: 30vw;
			width: 30vw;
			opacity: 1;
			transform: translate(35vw, 2vw);
			margin-bottom: 2vw;
		}
	}

	#header {
		height: 115px;
		padding-top: 5px;
	}

	#header #nav {
		padding-top: 6px;
	}

	#header #nav ul li {
		padding: 0 20px;
	}

	#header #social-buttons {
		padding-top: 6px;
	}

	#content {
		padding: 0 10px;
		min-height: calc(100vh - (34vw + 115px) );
	}
}

/* larger screen */
@media only screen and (min-width: 768px) {
	
	@keyframes logoIn {
		0% {
			height: 12vw;
			width: 12vw;
			opacity: 0;
			transform: translate(44vw, calc(50vh - 6vw));
		}
		50% {
			height: 16vw;
			width: 16vw;
			opacity: 1;
			transform: translate(42vw, calc(50vh - 8vw));
		}
		100% {
			height: 16vw;
			width: 16vw;
			opacity: 1;
			transform: translate(2vw, 2vw);
			margin-bottom: 2vw;
		}
	}

	#header a:hover {
		color: gray;
	}

	#header {
		height: calc(100vh - 20vw);
		width: 20vw;
	}

	#header h3 {
		padding-top: 20px;
	}

	#header #nav {
		padding-top: 10px;
	}

	#header #nav ul li {
		padding: 10px 10px;
	}

	#header #social-buttons {
		position: absolute;
		width: 20vw;
		bottom: 2vh;
	}

	#content {
		position: absolute;
		left: 20vw;
		bottom: 0;
		right: 0;
		top: 0;
		padding: 10px;
	}
}