* {
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
}

body {
	display: flex;
	height: 100%;
	width: 100%;
	margin: 0;
}

.margin {
	height: 100vh;
	width: 30vw;
	padding: 10px;
}

#all-about-me {
	height: 100vh;
	width: 40vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo-wrap {
	width: 100%;
	text-align: center;
	margin-bottom: 8px;
}
	#logo > svg {
		width: 200px;
		height: 200px;
	}

#title-wrap {
	width: 100%;
	text-align: center;
	margin-bottom: 8px;
}
	#title {
		font-size: 24px;
	}

	#title .name {
		font-weight: bold;
	}

#profiles {
	display: flex;
	justify-content: center;
	width: 100%;
}
	#profiles #github {
		text-align: center;
		color: #000000;
	}
		#profiles #github .fa-github {
			bottom: 1px;
		}

	#profiles #linkedin {
		text-align: center;
		color: #0077b5;
	}

	#profiles #twitter {
		text-align: center;
		color: #00aced;
	}

	#profiles #facebook {
		text-align: center;
		color: #3b5998;
	}

	#profiles #email {
		text-align: center;
		color: #000000;
	}
		#profiles #email .fa-envelope {
			bottom: 3px;
		}

	#profiles #resume {
		text-align: center;
		color: #787878;
	}
		#profiles #resume .fa-file-text {
			left: 1px;
			bottom: 2px;
		}